{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "quoteProps": "preserve",
  "arrowParens": "always",
  "singleQuote": false,
  "semi": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
