.person-status-notification {
  .note-container .note.danger {
    color: red;
    background: #FFFDF0;
    border: 1px solid red;
  }

  .note.danger .toast-item-image {
    color: red !important;
  }
}
