  $highlight: darken(#009384, 15%);
  
  .person-status {
    display: inline-block;
    vertical-align: top !important;
    background: #666666;
    border: 1px solid #666666;
    color: white;
    padding: 2px 4px;
    margin-top: 4px;
    font-size: 0.8em;
    cursor: pointer;

    p {
      margin: 0px;
    }
  }

  .cfl-dialog-header {
    background: $highlight;
    color: white;
    padding: 0 20px;
    padding-top: 5px;

    i {
      font-size: 1.5em;
      color: white;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 4px;
    }

    h4 {
      display: inline-block;
      color: white;
      margin: 5px 0;
      vertical-align: middle;
    }
  }

  .cfl-dialog-content {
    padding: 20px 30px 0 30px;
    margin-bottom: 30px;

    .cfl-dialog-instructions {
      padding-top: 1em;
      padding-bottom: 1em;
      font-style: italic;
    }

    .control-label {
      font-style: italic;
      border-bottom: 1px solid #eeeeee;
    }

    .form-control {
      margin: 5px 0;
      background-color: #fff;
      border: 1px solid #dddddd;
    }

    .error-field {
      @extend .form-control;
      border: 1px solid #ff0e0e;
    }

    .form-group {
      margin-bottom: 0px;
    }
  }
