<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.messages</package>
	<author>root</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.messages.MessagesActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<privilege>
		<name>Messages schedule privilege</name>
		<description>Allows user to define scheduled messages at the patient level</description>
	</privilege>

	<privilege>
		<name>Messages manage privilege</name>
		<description>Allows user to manage of messages template at the global level</description>
	</privilege>

</module>

