.best-contact-title {
    font-weight: bold;
    color: #00455C;
}

#best-contact-times {
    display: flex;
    flex-wrap: wrap;
}

#best-contact-times .time-entry {
    display: block;
    margin: 5px;
    padding-right: 20px;
}

#best-contact-times .time-label {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    width: auto;
    color: #00455C;
}

#best-contact-times .time-value {
    display: block;
    padding-left: 2px;
    text-align: left;
    width: 100px;
    color: black;
}

.different-timezone > span {
    font-size: 0.8em;
    color: orange;
}

.edit-best-contact-time {
    width: 90px;
}

.error-message {
    color: red;
    display: block;
    margin-top: 5px;
}

.save-time-button {
    display: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 5px;
    max-height: 22px;
}

.ui-timepicker-container {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    max-width: 90px;
}